:root {
    --primary-color: #000;
    --secondary-color: #FF006A;
}

html,
body {
    /*body hepsine aynı şeyleri uygular*/
    font-family: 'Pangolin', cursive;
}

.container1 {
    display: flex;
    vertical-align: middle;
    height: 96px;
    width: 100%;
    background-color: var(--primary-color);
}

.container2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.thumbnail img {
    border-radius: 25px;
}

header img {
    width: 72px;
    height: 72px;
}

header .container>div

/*header içindeki container olanın içindeki ilk dive odaklanır*/
    {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 1em;
}

header svg {
    fill: #fff;
}

header svg :hover {
    fill: var(--secondary-color);
}

header a:hover {
    color: var(--secondary-color);
}

main {
    margin-left: auto;
    margin-right: auto;
}

.packs img {
    width: 30%;
    padding: 1em;
}

footer {
    background-color: var(--primary-color);
    width: 100%;
    height: 415px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

footer .foot {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer .foot>div {
    width: 33%;
    padding: 1em;
}

footer svg {
    fill: #fff;
    padding: 5px;
}

footer h6 {
    color: white;
    text-align: center;
}

footer svg :hover {
    fill: var(--secondary-color);
}

.footer-logo {
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

footer #email {
    width: 250px;
    height: 32px;
}

.cgtrader-logo {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.cgtrader-logo .img-bottom {
    width: 20px;
    height: 20px;
}

.cgtrader-logo .img-top {
    width: 20px;
    height: 20px;

    display: none;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 99;
}

.cgtrader-logo:hover .img-top {
    display: inline;
}

.banner {
    width: 100%;
}

h4 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    margin-bottom: 5px;
    padding-top: 20px;
}

.banner img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 400px) {
    .banner img {
        height: 120px;
    }
}

.subscribe {
    color: white;
    width: 128px;
    height: 36px;
    background-color: var(--secondary-color);
    margin-top: 1em;
}